<div ng-controller="View1Ctrl as vm" style="margin-top: 100px;margin-left: 100px">

    <div class="mdl-cell mdl-cell--4-col  mdl-card mdl-shadow--2dp"  style="width: 100%">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" >{{vm.header}}</h2>
        </div>
        <div style="width: 80%">

            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th>
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons" > swap_vert </i>
                        </button>
                    </th>
                    <th  ng-repeat="column in vm.table.columns" >{{column.header}}</th>
                </tr>
                </thead>
                <tbody >
                <!--Row-->
                <tr ng-repeat="row in vm.table.elements">
                    <td>
                        <!--Ibuilt Cells-->
                        <button class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons" > checked </i>
                        </button>
                    </td>
                    <!--CELL-->
                    <td ng-repeat="cell in row.elements">
                        {{cell.value}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <div data-bind="with: $parent.pages">
                <!--Context: Pages-->
                <!--<div data-bind="component: { name: 'pages', params: $data}"></div>-->
            </div>
        </div>
        <div class="mdl-card__menu">
            <div style="display: flex">
                <!--<div data-bind="component: { name: 'table-columns-visibility' , params: $data }"></div>-->
                <!--<div data-bind="component: { name: 'table-actions' , params: $data }"></div>-->
            </div>
        </div>
    </div>

</div>
