<div >
<div>
    <div style="margin: 20px">
        <button class="mdl-button" style="margin: 20px"
                ng-click="vm.execute()">
            {{ vm.destroyer.state == 1
                ? 'Cancel Universe destruction'
                : 'Destroy the Universe ?'}}
        </button>
    </div>
    <div style="margin: 20px">

        <div ng-if="vm.destroyer.state == 1">
            <span>Universe will be destroyed in </span>
            <span style="color: red" ng-bind="vm.destroyer.countDown"> </span>
            <span> seconds...</span>
        </div>

        <span ng-if="vm.universe.state == 1">
                The Universe has been destroyed
                <p>Who is reading this message?</p>
        </span>

        <span ng-show="vm.destroyer.state == 2" style="color: orange">
            Universe destruction cancelled;
        </span>

    </div>

    <tnx-dialog
            xid="'universe-destroy-dialog'"
            template-url="src/components/dialog/dialog.html"
            owner="vm"
            header="'Confirm'">
        <span ng-if="vm.universe.state == 0">Do you Really want to destroy the universe</span>
        <span ng-if="vm.universe.state == 1">you can't destroy the universe twice</span>
    </tnx-dialog>

</div>
