<md-sidenav
        md-is-open="isOpen"
        md-is-locked-open="isOpen"
        class="md-whiteframe-z2"
        md-component-id="leftSideNav"
>
    <md-list>
        <md-list-item>
            <md-button ng-click="toggleMenuOpen()">
                <md-icon aria-label="android">android</md-icon>
            </md-button>
            <a href="#/view1">view1</a>
        </md-list-item>
        <md-list-item>
            <md-button>
                <md-icon aria-label="android">android</md-icon>
            </md-button>
            <a href="#/view2">view2</a>
        </md-list-item>
    </md-list>
</md-sidenav>
